.spotifyAndApplePlaylistWrap {
    margin-top: 15rem;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    padding: 2rem;
    @media screen and (min-width: $lg_breakpoint) {
        padding: 2rem 8rem;
    }
}

.playlist {
    width: 100%;
    height: 45rem;
    margin-bottom: 2rem;
    @media screen and (min-width: $md_breakpoint) {
        width: 48%;
    }
}

.youtubeSoundtrackContainer {
    display: flex;
    padding: 0 3rem;
    @media screen and (min-width: $sm_breakpoint) {
        padding: 0 5rem;
    }
}
.youtubeSoundtrack {
    width: 100%;
    height: 65%;
}
